{{#if resume.basics.summary}}
    <div class='basics'>
        <span class='name'>{{resume.basics.name}}</span>
        {{#if resume.basics.label}}<span class='label'>{{resume.basics.label}}</span>{{/if}}
    </div>
    <div class="sectionBlock">
        <div class='sectionContent'>
            {{#if resume.basics.email}}{{resume.basics.email}}{{/if}}
            {{#if resume.basics.phone}}&nbsp;&nbsp;{{resume.basics.phone}}{{/if}}
            {{#if resume.basics.location}}
                &nbsp;&nbsp;
                {{#if resume.basics.location.city}}{{resume.basics.location.city}}{{/if}}
                {{#if resume.basics.location.region}}, {{resume.basics.location.region}}{{/if}}
            {{/if}}
            {{#if resume.work.length}}<span class='experience'>{{{experience resume.work}}}</span>{{/if}}
            <span class='sectionName'>PROFESSIONAL SUMMARY</span>
            <span style="white-space: pre-line">{{resume.basics.summary}}</span>
        </div>
    </div>
{{/if}}