{{#if resume.work.length}}
    <div class="sectionBlock">
        <div class='sectionContent'>
            <span class='sectionName'>EXPERIENCE OVERVIEW</span>
            {{#each resume.work}}
                <div class='blockHeader'>
                    {{#if company}}<b>{{company}}</b>{{/if}}
                    {{#if position}} - {{position}}{{/if}}
                    {{#if startDate}}
                        <span class='date'>
                            {{format startDate}} - {{#if endDate}}{{format endDate}}{{else}}Present{{/if}}
                        </span>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}