{{#if resume.work.length}}
    <div class="pagebreak"/>
    <div class="sectionBlock">
        <div class='sectionContent'>
            <span class='sectionName'>WORK EXPERIENCE</span>
            {{#each resume.work}}
                <div class="jobBlock">
                    <div class='blockHeader'>
                        {{#if name}}
                            <span class='company'>{{name}}</span>
                        {{/if}}
                        {{#if location}}
                            <span class='company'>- {{location}}</span>
                        {{/if}}
                    </div>
                    <div class='blockHeader'>
                        {{#if position}}<b>{{position}}</b>{{/if}}
                        {{> dates }}
                    </div>

                    {{#if summary}}<p class="summary" style="white-space: pre-line">{{add-dot summary}}</p>{{/if}}
                    {{#if highlights.length}}
                        <ul>
                            {{#each highlights}}
                                <li>{{add-dot .}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if technologies}}<p><b>Technologies: </b>{{add-dot technologies}}</p>{{/if}}
                    {{#unless @last}}
                        <div class='sectionLine'></div>
                    {{/unless}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
